<div class='container'>
	<header class='col-12 justify-content-around'>Local Music Scene</header>

  <form action="submit" class="col-12 col-lg-6 mx-auto">

    <div class="form-group">
        <label for="username-input">Song Title</label>
        <input type="text" class="form-control form-input" id="song-title-input" placeholder="In-A-Gadda-Da-Vida">
      </div>
      <div class="form-group">
        <label for="username-input">Link</label>
        <input type="text" class="form-control form-input" id="url-input" placeholder="URL">
      </div>
      <div class="form-group">
        <label for="username-input">Artist Name</label>
        <input type="text" class="form-control form-input" id="artist-name-input" placeholder="Iron Butterfly">
      </div>
      <div class="form-group">
        <label for="username-input">Album Name</label>
        <input type="text" class="form-control form-input" id="album-name-input" placeholder="In-A-Gadda-Da-Vida">
      </div>

      <button type="submit" class="col-12 my-2 btn btn-info">Submit</button>
  </form>
</div>