<div class="container">
  <header class="col-12 justify-content-around">Local Music Scene</header>
  <div class="row px-3">
    <button class="submit-button col-12 col-md-6 btn btn-info mx-auto my-4">Submit a new song</button>
  </div>
</div>

<script src="/javascript/navigate-to-add.js"></script>