  <div class="container">

    <section class ="hero-image mt-3">
      <div class = "hero-text">
        <h1>Local</h1>
        <h1>Music</h1>
        <h1>Scene</h1>
      </div>
    </section>

    <div class="row align-items-center">
      
      {{!-- <form class="login-form col-12 col-md-4 mx-auto" action="submit">

        <h3>Sign in</h3>

      <div class="form-group">
        <label for="username-input">Username</label>
        <input type="text" class="form-control form-input" id="username-input" placeholder=" Enter your username">
      </div>

      <div class="form-group">
        <label for="password-input">Password</label>
        <input type="password" class="form-control form-input" id="password-input" placeholder="Enter your password">
      </div>

      <button type="submit" class="col-12 mb-2 btn btn-info">Sign In</button>

    </form>

    <h2 class="m-auto">- Or - </h2> --}}

    <form class="create-account-form col-12 col-md-4 mx-auto" action="submit">

      <h3>Create an acount</h3>

      <div class="form-group">
        <label for="create-account-username-input">Username</label>
        <input type="text" class="form-control form-input" id="username-signup" placeholder=" Choose your username">
      </div>

      <div class="form-group">
        <label for="create-account-password-input">Password</label>
        <input type="password" class="form-control form-input" id="password-signup" placeholder="Create a password">
      </div>

      <button type="submit" class="col-12 mb-2 btn btn-secondary">Create an account</button>

    </form>

    <script src='/javascript/login.js'></script>